/* Define your colors */
  .online {
    background-color: #48bb78;
  }
  
  .offline {
    background-color: #cbd5e0;
  }
  

  .teal {
    background-color: #80CBC4;
  }

  .red {
    background-color: #FED7D7;
  }

  .green {
    background-color: #C6F6D5;
  }

  .purple {
    background-color: #CE93D8;
  }

  .blue {
    background-color: #90CAF9;
  }

  .yellow {
    background-color: #FFF59D;
  }

  .orange {
    background-color: #FEBD69;
  }

  .pink {
    background-color: #F48FB1;
  }

  .fuchsia {
    background-color: #D9027D;
  }

  .rose {
    background-color: #FECDD3;
  }