/* CSS file 
.main-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background-color: white;
    width: 33.333333%;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-content {
    flex-grow: 1;
  }
  
  .user-info {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-button {
    font-size: 0.875rem;
    background-color: #ebf8ff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #6b7280;
    border-radius: 0.125rem;
    border-width: 1px;
  }
  
  .chat-area {
    display: flex;
    flex-direction: column;
    background-color: #f0f9ff;
    width: 66.666667%;
    padding: 0.5rem;
  }
  
  .chat-area-content {
    flex-grow: 1;
  }
  
  .placeholder-text {
    color: #d1d5db;
  }
  
  .chat-box {
    position: relative;
    height: 100%;
  }
  
  .scrollable-content {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0.5rem;
  }
  
  .message {
    display: inline-block;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
  }
  
  .sender-message {
    text-align: right;
    background-color: #3b82f6;
    color: white;
  }
  
  .receiver-message {
    text-align: left;
    background-color: white;
    color: #6b7280;
  }
  
  .file-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom-width: 1px;
  }
  
  .hidden-file-input {
    display: none;
  }
  
  .file-upload-button {
    background-color: #bfdbfe;
    padding: 0.5rem;
    color: #4b5563;
    cursor: pointer;
    border-radius: 0.125rem;
    border-width: 1px;
    border-color: #bfdbfe;
  }
  
  .send-button {
    background-color: #3b82f6;
    padding: 0.5rem;
    color: white;
    border-radius: 0.125rem;
  }
  
*/


  .bg-green {
    background-color: #63A3A0;
  }