/* Home.css */
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}
  
.backgroundImage {
  /* Set the background repeat to no-repeat */
  background-repeat: no-repeat;

  /* Set the background position to center bottom */
  background-position: bottom center;

  /* Set the background size to cover */
  background-size: 100% auto;

  overflow-y: hidden;
}
  
h1, h2, h3 {
  font-family: 'bayon';
}

p {
  font-family: 'basic';
}

.text-large {
  font-size: 4rem;
}

.gray-lighter {
  background-color: #eee;
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.8);
}