@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
}