@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}

.navbar {
    display: flex;
    justify-content: right;
  }