@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body, html {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden !important;
}

.navbar {
    display: flex !important;
    justify-content: right !important;
  }

.container-carte-trajet {
  justify-self: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 20px;

  margin-left: 100px;
  margin-right: 100px;

  margin-bottom: 50px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
}

.container-carte-trajet>* {
  padding: 10px;
}

.container-carte-trajet>*:first-child {
  grid-column: 1;
}

.container-carte-trajet>*:last-child {
  align-self: flex-end;
  grid-column: 1 / 4;
}